<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 solutions">
        <h3 class="footer-title"> SOLUTIONS </h3>
        <ul>
          <li class="limsabc">LIMSABC</li>
          <li>

            <div class="social-links d-none d-md-flex align-items-center">
              <a href="{{ .Site.Params.linkedin }}" class="linkedin"
                ><i class="fab fa-linkedin"></i
              ></a>
              <a href="{{ .Site.Params.twitter }}" class="twitter"
                ><i class="fab fa-twitter-square"></i
              ></a>
            </div>
          </li>

          <li><img src="/assets/img/bga-logo.png" alt=""></li>
          <li > <p>Copyright © 2021 BGASoft, Inc. </p> </li>
        </ul>
        <img src="" alt="">
      </div>

      <div class="col-lg-3 solutions">
        <h3 class="footer-title"> SOLUTIONS </h3>
        <div class="footer-links">
          <div >
            <ul>
              <li><a href="">Public Health</a> </li>
              <li><a href="">Toxicology</a></li>
              <li><a href="">Toxicology</a></li>
              <li><a href="">Biorepository</a></li>
              <li><a href="">Clinical trials</a></li>
              <li><a href="">Client Web Portal</a></li>
              <li><a href="">Custom Solutions</a></li>
              </ul>
            </div>
          </div>
      </div>

        <div class="col-lg-3 blog">
          <h3 class="footer-title"> Blog </h3>
          <div class="footer-links">
            <div >
              <ul>
                <li><a href="">LIMS (69)</a> </li>
                <li><a href="">Toxicology (30)</a></li>
                <li><a href="">Biorepository (8)</a></li>
                <li><a href="">Clinical Trials (8)</a></li>
                <li><a href="">Molecular (5)</a></li>
                <li><a href="">Client Web Portal (0)</a></li>
                </ul>
              </div>
            </div>
        </div>

        <div class="col-lg-3 contact">
          <h3 class="footer-title"> Contact </h3>
          <div class="footer-links">
            <div >
              <ul>
                <li><img src="/assets/img//icons/mail.svg" alt="" class="footer-icon"><a href="mailto@office@limsabc.com">office@limsabc.com</a> </li>
                <li><img src="/assets/img//icons/address.svg" alt="" class="footer-icon"><a href="">1-800-834-8618</a></li>
                <li><img src="/assets/img//icons/phone.svg" alt="" class="footer-icon"><a href="">500 East Broward Blvd, Suite 1710 Fort Lauderdale, FL 33394.
                  </a></li>
                </ul>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</footer>
{{ partial "search-index.html" . }}