<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />

  <title>{{.Title}}</title>
  <meta content="" name="{{.Description}}" />
  <meta content="" name="{{ range .Params.tags }}{{.}} ,  {{end}}" />

  <!-- Favicons -->
  <link href="/assets/img/favicon.png" rel="icon" />
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700"
    rel="stylesheet"
  />

  <!-- Vendor CSS Files -->
  <link href="/assets/bt/aos/aos.css" rel="stylesheet" />
  <link href="/assets/bt/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <link
    href="a/ssets/bt/bootstrap-icons/bootstrap-icons.css"
    rel="stylesheet"
  />
  <link href="/assets/bt/boxicons/css/boxicons.min.css" rel="stylesheet" />
  <link href="/assets/bt/glightbox/css/glightbox.min.css" rel="stylesheet" />
  <link href="/assets/bt/swiper/swiper-bundle.min.css" rel="stylesheet" />
  <link
    rel="stylesheet"
    href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
    crossorigin="anonymous"
  />
  <!-- Template Main CSS File -->
  <link href="/assets/css/style.css" rel="stylesheet" />
</head>
