<div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
  <div class="box">
    <img src="/assets/img/icons/icon-1.svg" alt="" class="box-icon" />
    <h4 class="title"><a href="">Patient Portal</a></h4>
    <p class="description">
      An all-in-one secure system that maximizes turnaround time and minimizes
      errors putting the patient first.
    </p>
    <a href="">Learn more</a>
  </div>
</div>

<div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
  <div class="box">
    <img src="/assets/img/icons/icon-2.svg" alt="" class="box-icon" />
    <h4 class="title"><a href="">Physician Portal</a></h4>
    <p class="description">
      Seamlessly communicate with your clients. Our modern, cloud based web
      portal allows clients a direct connection to your laboratory - all without
      installing any software locally.
    </p>
    <a href="">Learn more</a>
  </div>
</div>

<div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
  <div class="box">
    <img src="/assets/img/icons/icon-3.svg" alt="" class="box-icon" />
    <h4 class="title"><a href="">Revenue Cycle Management</a></h4>
    <p class="description">
      On demand medical billing & coding expertise. We have expertise to operate
      as your billing and claims department.
    </p>
    <a href="" class="end-align">Learn more</a>
  </div>
</div>
