<section id="section-1">
  <div class="container" data-aos="zoom-out">
    <div class="row">
      <div class="col-lg-5">
        <img src="assets/img/section-4.png" alt="" class="section-image" />
      </div>
      <div class="col-lg-7 text-center text-lg-start align-center">
        <h2 class="section-1-title">CLIENT SPECIFIC <span>REPORTS</span></h2>
        <p class="section-1-text">
          <span>Create and modify the reports you need.</span>
        </p>
        <p class="section-1-text">
          Client, site and/or test specific templates make allow you to create
          the reports your clients needs. Not happy? Use the report editor to
          modify templates in minutes.
        </p>
      </div>
    </div>
  </div>
</section>
