<section id="section-1">
  <div class="container" data-aos="zoom-out">
    <div class="row">
      <div class="col-lg-7 text-center text-lg-start align-center">
        <h2 class="section-1-title">FLEXIBLE, <span>MODERN</span> PLATFORM</h2>
        <p class="section-1-text">
          <span>Built from the ground up for ease of use.</span>
        </p>
        <p class="section-1-text">
          Clean, intuitive interface that is configured to your needs - not
          legacy clients. With our software as a service system you can be up
          and running in days.
        </p>
      </div>
      <div class="col-lg-5">
        <img src="assets/img/section-1.png" alt="" class="section-image" />
      </div>
    </div>
  </div>
</section>
