<section id="section-5">
  <div class="container" data-aos="zoom-out">
    <div class="row">
      <div class="col-lg-7 text-center text-lg-start align-center">
        <h2 class="section-2-title">
          BILLING NOW OFFERED <span>AS A SERVICE</span>
        </h2>
        <p class="section-2-text">
          <span>On demand medical billing & coding expertise. </span>
        </p>
        <p class="section-2-text">
          Need help with medical billing and coding? It is difficult and
          expensive to build an in-house team with expertise with insurance
          credentialing, claim scrubbing and medical coding. We have expertise
          to operate as your billing and claims department. Let our staff
          quickly and professionally manage your claims, interface with carriers
          and clearinghouse while you monitor and approve the process all from
          LIMSABC.
        </p>
      </div>
      <div class="col-lg-5">
        <img src="assets/img/section-5.png" alt="" class="section-image" />
      </div>
    </div>
  </div>
</section>
