<section id="section-2">
  <div class="container" data-aos="zoom-out">
    <div class="row">
      <div class="col-lg-5">
        <img src="assets/img/section-2.png" alt="" class="section-image" />
      </div>
      <div class="col-lg-7 text-center text-lg-start align-center">
        <h2 class="section-2-title">LIS BUILT FOR <span>CLOUD</span></h2>
        <p class="section-2-text">
          <span>Built for today - extendable for the future.</span>
        </p>
        <p class="section-2-text">
          Access world-class infrastructure through our cloud hosted system and
          have unprecedented uptime and speed. Cloud hosting allows you to scale
          users, samples and performance without the normal limitations all
          while having the highest levels of data redundancy. Access from any
          device, anywhere.
        </p>
      </div>
    </div>
  </div>
</section>
