<section id="section-6">
  <div class="container" data-aos="zoom-out">
    <div class="row">
      <div class="col-lg-5">
        <img src="/assets/img/section-6.png" alt="" class="section-image" />
      </div>
      <div class="col-lg-7 text-center text-lg-start align-center">
        <h2 class="section-2-title">
          REALTIME <span> BUSINESS INTELLIGENCE </span>
        </h2>
        <p class="section-2-text">
          <span>All your information at your fingertips.</span>
        </p>
        <p class="section-2-text">
          We offer business analytics tools that are easy to build and easy to
          customize. Create specific tools that your employees need for their
          roles - have dashboards for laboratory technician showing work load by
          test, sales representative and sales management, financial performance
          and client profitability and much more.
        </p>
      </div>
    </div>
  </div>
</section>
