<section id="section-3">
  <div class="container" data-aos="zoom-out">
    <div class="row">
      <div class="col-lg-7 text-center text-lg-start align-center">
        <h2 class="section-1-title">FHIGH VALUE <span>MODULES</span></h2>
        <p class="section-1-text">
          <span>Add the modules your workflow needs. </span>
        </p>
        <p class="section-1-text">
          We built LIMSABC to be an open, flexible framework with highly
          configurable solutions built on it. Use any of our modules that fits
          your workflow including Shipping/Receiving, Accessioning, Web Portal,
          Results Review, Plate Based Sample Tracking, EMR Integration, DNR,
          Claims Management, QC and many more.
        </p>
      </div>
      <div class="col-lg-5">
        <img src="assets/img/section-3.png" alt="" class="section-image" />
      </div>
    </div>
  </div>
</section>
